trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  # CHANGE THIS to your ACR Login Server
  acrLoginServer: 'petclinicacr091b93.azurecr.io'
  imageName: 'petclinic'
  acrConnection: 'ACR-Connection'
  aksConnection: 'AKS-Connection'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build and Push to ACR
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: 'Dockerfile'
        containerRegistry: $(acrConnection)
        tags: |
          latest
          $(Build.BuildId)

    # This task is now correctly indented to align with the Docker task above
    - task: PublishPipelineArtifact@1
      displayName: 'Publish Manifests'
      inputs:
        targetPath: '$(Build.SourcesDirectory)/manifests'
        artifact: 'manifests'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'manifests'

    - task: KubernetesManifest@1
      displayName: Deploy to Cluster
      inputs:
        action: 'deploy'
        connectionType: 'kubernetesServiceConnection'
        kubernetesServiceConnection: $(aksConnection)
        manifests: |
          $(Pipeline.Workspace)/manifests/deployment.yaml
        containers: |
          $(acrLoginServer)/$(imageName):$(Build.BuildId)
