trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  acrLoginServer: 'petclinicacr091b93.azurecr.io'
  imageName: 'petclinic'
  acrConnection: 'ACR-Connection'
  aksConnection: 'AKS-Connection'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build Docker Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: 'Dockerfile'
        containerRegistry: $(acrConnection)
        tags: latest

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Everything'
      inputs:
        targetPath: '$(Build.SourcesDirectory)'
        artifact: 'everything'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: 'Download everything artifact'
      inputs:
        artifact: 'everything'
        path: '$(Pipeline.Workspace)'

    - script: |
        echo "---------------------------------------------------"
        echo "SEARCHING FOR deployment.yaml..."
        find $(Pipeline.Workspace) -name "deployment.yaml"
        echo "---------------------------------------------------"
        echo "Listing all files to see structure:"
        ls -R $(Pipeline.Workspace)
      displayName: 'DEBUG: Where is the file?'

    - task: KubernetesManifest@1
      displayName: Deploy to Cluster
      inputs:
        action: 'deploy'
        connectionType: 'kubernetesServiceConnection'
        kubernetesServiceConnection: $(aksConnection)
        manifests: |
          $(Pipeline.Workspace)/everything/manifests/deployment.yaml
        containers: |
          $(acrLoginServer)/$(imageName):latest
