trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  acrLoginServer: 'petclinicacr091b93.azurecr.io'
  imageName: 'petclinic'
  acrConnection: 'ACR-Connection'
  aksConnection: 'AKS-Connection'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build Docker Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: 'Dockerfile'
        containerRegistry: $(acrConnection)
        tags: latest

    # DEBUG STEP: This will list all files so we know EXACTLY where deployment.yaml is
    - script: |
        echo "Listing files in Source Directory:"
        ls -R $(Build.SourcesDirectory)
      displayName: 'Debug: List All Files'

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Manifests'
      inputs:
        targetPath: '$(Build.SourcesDirectory)/manifests'
        artifact: 'manifests'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'manifests'

    - task: KubernetesManifest@1
      displayName: Deploy to Cluster
      inputs:
        action: 'deploy'
        connectionType: 'kubernetesServiceConnection'
        kubernetesServiceConnection: $(aksConnection)
        manifests: |
          $(Pipeline.Workspace)/manifests/deployment.yaml
        containers: |
          $(acrLoginServer)/$(imageName):latest
